<!DOCTYPE html>
<html>
<head>
  <title>Photogram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <%= render 'layouts/navbar' %>
  
  <% flash.each do |message_type, message| %>
    <div class="container">
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    </div>
  <% end %>
  
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
